[submodule "back"]
	path = back
	url = https://github.com/Alireza-Rajabzadeh/uz_shop_django.git
[submodule "admin_panel"]
	path = admin_panel
	url = git@github.com:Alireza-Rajabzadeh/uz_shop_admin.git
[submodule "infra/minio"]
	path = infra/minio
	url = git@github.com:Alireza-Rajabzadeh/Minio.git
[submodule "client_panel"]
	path = client_panel
	url = git@github.com:Alireza-Rajabzadeh/uz_shop_next.git
